*.pid
build
*.log
*.pot
local_settings.py
settings_local.py
*.pyc
*.pyo
media/files
upload
preview
*.egg-info
.idea
.installed.cfg
bin
develop-eggs
downloads
eggs
parts
*.egg-info
.env
*.sublime*
.DS_Store
public/
reports/
*.sqlite3
.env*
bower_components/
node_modules/
.tox/
.sass-cache/
info/
.vagrant
environment
settings/local.py
.coverage
private.yml
htmlcov/
inventories
