
    charset utf8;
    keepalive_timeout    70;
    client_max_body_size 300m;

    error_page   500 502 503 504  /50x.html;
        location = /50x.html {
        root   html;
    }

    location  /static/ {
        alias {{ application_dir }}/public/static/;
    }

    location /media/files/ {
        secure_link $arg_md5,$arg_expires;
        secure_link_md5 "$secure_link_expires$uri$remote_addr {{ django_secret_key }}";

        if ($secure_link = "") {
          return 403;
        }

        if ($secure_link = "0") {
          return 410;
        }

        root {{ application_dir }}/public/;
    }

    location  /media/ {
	    add_header Cache-Control private;
        alias {{ application_dir }}/public/media/;
    }

    location /robots.txt {
      root {{ application_dir }}/public/;
    }

