{
    "default": {
        "ENGINE": "{{ application_db_engine }}",
        "NAME": "{{ application_db_engine }}",
        "USER": "{{ application_db_user }}",
        "PASSWORD": "{{ application_db_password }}"
    }
}
