#!/bin/sh

echo "Starting {{ application_name }} as `whoami`"

cd {{ django_dir }}

export DJANGO_SETTINGS_MODULE='project.settings.{{ application_env }}'

exec {{ application_virtualenv_dir }}/bin/gunicorn wsgi:application \
  --name {{ application_name }} \
  --workers {{ gunicorn_workers }} \
  --user={{ application_user }} \
  --log-level={{ gunicorn_log_level }} \
  --bind={{ inventory_host_ip.stdout }}:{{ gunicorn_port }}
